<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Newbiee</title>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet"> 
  
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    
    
    
      <a class="navbar-brand" href="#" style="font-family:'Kaushan Script', cursive"><font color="#7dce94"  size="7px">newbiee</font></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">

      <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        
         <a class="nav-link" href="/index"  id="index" style="font-family:'Kaushan Script', cursive" data-toggle="tooltip" title="home"><font size="5px" color="#7dce94">Home</a></font>
          </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <li class="nav-item">
        
         <a class="nav-link" href="/"  id="logout" style="font-family:'Kaushan Script', cursive" data-toggle="tooltip" title="bye!"><font size="5px" color="#7dce94">Logout</a></font>
          </li>


      
    </ul>
  </div> 
</nav>
<div style="background-color:#f6f5f3">
  <br><br><br><br>
<br>


<form class="form-signin" action="" method="post" enctype="multipart/form-data">
<div class="col-md-12" style="font-family:'Kaushan Script', cursive">
    Group Name:<br><input type="text" class="form-control" placeholder="Enter Group Name" style="width:50%"name="name"><br><br>
  
  <label >Group Description:</label>
   <textarea rows="4" cols="50" placeholder="Enter Group Description" class="form-control" style="width:50%" name="description"></textarea><br><br>
      <label for="player-img">Group Image(750 x 300 )</label><br>
      <input type="file" name="image" id="group-img" class="" required><br><br>
     
  <button type="submit" class="btn btn-primary" style="background-color:#7dce94;border: none">Create!</button>
   </div>
</form>
                               
                        
                  



  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container" style="font-family:'Kaushan Script', cursive">
      <p class="m-0 text-center text-white">Copyright &copy; Newbiee 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
