<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Newbiee</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><font color="green"  size="7"><b>Newbiee</b></font></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">



    <ul class="navbar-nav ml-auto">

        <li class="nav-item ">
            <a class="nav-link" href="/index" style="font-family:'Kaushan Script', cursive"><font color="#7dce94"  size="5px">Home</font>
              <span class="sr-only">(current)</span>
            </a>
            </li>

            <li class="nav-item">
                    <a class="nav-link" href="/notification"  id="notification" style="font-family:'Kaushan Script', cursive" data-toggle="tooltip" title="view notifications"><font size="5px" color="#7dce94">Notifications</a></font>
                  </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  
            
            <li class="nav-item">
                <a class="nav-link" href="/" style="font-family:'Kaushan Script', cursive"><font color="#7dce94"  size="5px">Logout</a></font>
              </li>


      
    </ul>
  </div> 
</nav>

  <br><br><br><br>
<br>


<form class="form-signin" action="" method="post" enctype="multipart/form-data">
<div class="col-md-12">
    Event Name:<input type="text" class="form-control" placeholder="Enter Event Name" style="width:50%"name="name" required><br><br>
  
  <label >Event Description:</label>
   <textarea rows="4" cols="50" placeholder="Enter Event Description" class="form-control" style="width:50%" name="description" required></textarea><br>
   Choose Date for your Event &nbsp;<input type="datetime-local" name="datetime" value="12-12-2019 13:26" required>&ensp;<span class="badge"> Do change the default Date Time</span><br><br>
      <label for="player-img">Event Image(750 x 300 )</label><br>
      <input type="file" name="image" id="group-img" class="" required><br><br>
       Event Address:<input type="text" class="form-control" placeholder="Enter Event Address" style="width:50%"name="Address" required><br>
       Event Capacity (Minimum 10 people):<input type="number" min="10"  class="form-control" placeholder="Event Capacity" style="width:50%"name="Capacity" required><br>
     
  <button type="submit" class="btn btn-primary">Create!</button>
   </div>
</form>
                               
                        
                  



  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Newbiee 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
